.commercial {
  font-size: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  margin-bottom: 40px;
}
ul li {
  display: inline;
}

.container-card {
  display:flex;
border-left:3px solid red;
  border-top:4px solid silver;
  border-bottom:3px solid white;
  height: 300px;
  background:darkblue;
  justify-content:space-evenly ;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000; 
}
.container-card .card{ 
border:3px solid silver;
  width:200px;
  height:250px;
  margin-bottom:40px;
}
.card .card-img img   {
width: 150px;
height: 100px;
}
.card .card-content{
  border:1px  solid white;
  font-size: .75rem;
  height: 250px; 
}
.card-content h4{
color:silver;
font: size 14px;
}
.mechanical-engineer {
  display: flex;
  flex-direction: column;
}
.image_container {
  display:flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}
.image_container :hover {
  transform: rotateY(25deg);
}
.image-slider {
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(0, 68, 137);
  background-color: #17224d;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;
}
.image-slider :hover {
  cursor: pointer;
  transform: rotateY(25deg);
}
.image-slider img {
  height: 300px;
  width:300px;
  border: 2px solid silver;
  border-radius: 5px;
  margin-bottom: 5px;
}
.clients {
  justify-content: center;
  text-align: center;
  height: 70px;
  background-color: darkgray;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
.clients h1 {
  text-align: center;
  margin-top: 10px;
 /*  -webkit-box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);
    background: #444444;
}  
